.mainPanel{
  grid-area: M;
  position: sticky;
  top: 10px;
  z-index: 10;
}

.banknotes{
  grid-area: B;
}

.selectedBanknotes {
  grid-area: S;
}

.footer {
  grid-area: F;
}

/* Mobile layout */
.element {
  width: 100%;
  height: 100%;
  border: 0px solid rgba(100, 100, 100, 1);
  border-radius: 15px;
  background: linear-gradient(50deg,
      rgba(0, 0, 0, 0.4) 12%,
      rgba(0, 0, 0, 0.1) 77%);

  /* background: linear-gradient(50deg,
      rgba(255, 255, 255, 0.4) 12%,
      rgba(255, 255, 255, 0.1) 77%);       */
  background-blend-mode: overlay;
  ;
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "M M"
    "B B"
    "S S"
    "F F";
    grid-template-columns: auto minmax(320px, 1fr);
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
    justify-items: center;
    align-items: center;
  padding: 10px 10px 0 10px;
}

.mainPanel{
  display: grid;
  grid-template-columns: 100px auto 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}
/* Tablet layout */
@media screen and (min-width: 768px) {
  .element {
    padding: 20px;
  }  
}

/* Desktop layout */
@media (min-width: 1024px) {
  .container {
    grid-template-areas:
      "M B"
      "M S"
      "F F";
    grid-template-rows: auto 1fr auto;
  }
  .mainPanel {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

/* 
.coinGrid {
  display: grid;
  grid-template-columns: repeat(8, minmax(40px, auto));
  gap: 10px;
} */